body{
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(45, 76, 113,0.9);
}
.my-demos{
    background-image: url(../img/786317.jpg);
    position: relative;
    z-index: 1000;
    background-size: cover;
    padding-bottom: 70px;

    h1{
        color: white;
        z-index: 6666;
        text-transform: uppercase;
        padding-top: 200px;
        position: relative;
        font-size: 55px;
    }
    .col-md-12{
        z-index: 10;
        h3{
            
        }  
    }

    .one-demo{
        margin: 30px 0;
        img{
            width: 100%;
            position: relative;
            z-index: 4;
            cursor: pointer;
        }
    }
    ul{
        list-style-type: none;
        display: flex;
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        li{
            margin: 0 16px;
            font-weight: 600;
            position: relative;
            &::after{
                content: "";
                height: 23px;
                width: 2px;
                background-color: white;
                position: absolute;
                right: -16px;
            }
            &:last-child::after{
                background-color: transparent;
            }
        }
    }
}


footer{
    background-color: #07253F;
}